<div class="center jumbotron">
  <h1>Welcome to PhotoGram</h1>
  <h2>
    Your personal Photography website
  </h2>
  
  <%=link_to "SignUp Now !", "", class: "btn btn-lg btn-success" %>
</div>

<div class= "row">
  <div class= "col-lg-4">
    <h3 class="midrow">
      View as Guest
    </h3>
    <h2 class= "left">Browse and view as a guest and SignUp later
    </h2>
    <p> <%= link_to "Browse listing", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class= "col-lg-4">
    <h3 class="midrow">
      View as Guest
    </h3>
    <h2 class= "left">Browse and view as a guest and SignUp later
    </h2>
    <p> <%= link_to "Browse listing", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class= "col-lg-4">
    <h3 class="midrow">
      View as Guest
    </h3>
    <h2 class= "left">Browse and view as a guest and SignUp later
    </h2>
    <p> <%= link_to "Browse listing", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>